<div class="slick_slider" style="padding-bottom: 20px;">
  <% @featured.each do |article| %>
    <div class="single_iteam"> 
    <%= link_to image_tag(article.thumbnail, class: "crop_center"), article_path(article) %>
      <div class="slider_article">
        <h2>
          <%= link_to article.title, article_path(article), class: "slide_title" %>
        </h2>
        <p>
          <%= link_to article.description, article_path(article), class: "slide_desc" %>
        </p>
      </div>
    </div>
  <% end %>
</div>